<!--footer.ejs, Leticia Lopez, 301087698, midterm-->

    
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy; Copyright 2020. All rights reserved Leticia Lopez.</h6>
      </nav>
    </footer>
    <!--Script section-->
    <script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/scripts/app.js"></script>

  </body>
</html>